<nav>
    <div class="nav-wrapper">
        <div class="container">
            <div class="row">
                <a href="/" class="brand-logo" style="color: #000; margin-top: 20px;">MEAPU</a>
                <% if(user) { %>
                <button class='btn dropdown-button navbarProfile right' data-beloworigin="true" data-activates='accountDropdown'>
                    <%= user.fullName %><i class="material-icons right"
                                           style="width: 10px;height: 10px; line-height: 35px;position: relative;">keyboard_arrow_down</i></button>
                <ul id='accountDropdown' class='dropdown-content right' style="margin-top: 22px; color:#000; text-align: center;">
                    <li><a href="/profile" style="color:#000; text-align: center;">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout" style="color:#000; text-align: center;">Log out</a></li>

                </ul>
                <% } else { %>
                <div class="col right" style="margin-top: 15px;">
                    <button class='btn dropdown-button navbarProfile right' data-beloworigin="true" data-activates='accountDropdown'>
                        Login/Sign up<i class="material-icons right"
                                               style="width: 10px;height: 10px; line-height: 35px;position: relative;">keyboard_arrow_down</i></button>
                    <ul id='accountDropdown' class='dropdown-content right' style="margin-top: 22px; color:#000; text-align: center;">
                        <li><a href="/login" style="color:#000; text-align: center;">Login</a></li>
                        <li class="divider"></li>
                        <li><a href="/signup" style="color:#000; text-align: center;">Sign up</a></li>

                    </ul>
                </div>
                <% } %>
            </div>
            <div class="row">
                <p style="color:#000;">site menu goes here</p>
            </div>
        </div>
    </div>
</nav>
<!--
<div class="nav-wrapper mainBar">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col s3" style="margin-top: 10px;">
                <h4><a href="/" class="" style="color: #000;">MEAPU</a></h4>
            </div>
            <% if(user) { %>
            <div class="col s4 offset-s1">
                &lt;!&ndash;<div class="search-wrapper">
                    <form action="/search" method="post">
                        <div class="row">
                            <div class="col s10">
                                <input type="search" name="q"  placeholder="Search"  class="navbarSearch" required>
                            </div>
                            <div class="col s1">
                                <button type="submit" style="border: none;margin-left: -62px;height: 50px; margin-top: 20px;background-color: #eee;">
                                    <i class="material-icons" style="color:#000;margin-top: -5px;">search</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>&ndash;&gt;
            </div>
            <div class="col s3">
                <button class='btn dropdown-button navbarProfile right' data-beloworigin="true" data-activates='accountDropdown'>
                    <%= user.fullName %><i class="material-icons right"
                                           style="width: 10px;height: 10px; line-height: 35px;position: relative;">keyboard_arrow_down</i></button>

                &lt;!&ndash; Dropdown Structure &ndash;&gt;
                <ul id='accountDropdown' class='dropdown-content right' style="margin-top: 22px; color:#000; text-align: center;">
                    <li><a href="/profile" style="color:#000; text-align: center;">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout" style="color:#000; text-align: center;">Log out</a></li>

                </ul>
            </div>
            <div class="col s1 left">
                <a class="btn navbarCart" href="/cart">
                    <img src=""  id="cartImage" alt="logo">
                </a>
            </div>
            <% } else { %>
            <div class="col s3  right">
                <a href="/login" class="navbarLogin">Login</a>
            </div>
            <% } %>
        </div>


    </div>


</div>
</nav>-->
