<!DOCTYPE html>
<html lang="en">
<head>
    <title>MEAPU</title>
    <link rel="stylesheet" href="/css/custom.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
</head>

<body>

<% include ./partials/navbar %>



<div class="container">

    <%- body -%>

</div> <!-- /container -->

<% include ./partials/footer %>
<% include ./partials/javascriptLibs %>
</body>
</html>
