<% layout("layout") %>

<div class="container">
    <p>first name: <%= profile.firstName %></p>
    <p>last name: <%= profile.lastName %></p>
    <p>email: <%= profile.email %></p>
    <p>img: <img src="<%= profile.profileImage %>" alt=""></p>
</div>